* {
  box-sizing: border-box;
}
body {
  background-color: #111;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
}
.envelope {
  width: 300px;
  height: 300px;
  background: #b49976;
  position: relative;
}
.envelope__check {
  height: 100%;
  width: 100%;
  z-index: 10;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  cursor: pointer;
}
.envelope__check:checked ~ .envelope__flap {
  /*Apertura de sobre*/
  transition: z-index 0s 2.25s, -webkit-transform 2.25s 0s;
  transition: transform 2.25s 0s, z-index 0s 2.25s;
  transition: transform 2.25s 0s, z-index 0s 2.25s, -webkit-transform 2.25s 0s;
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
  z-index: 0;
}
.envelope__check:checked ~ .envelope__letter {
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  transition: z-index 0s 0.5s, -webkit-transform 0.25s 0.25s;
  transition: transform 0.25s 0.25s, z-index 0s 0.5s;
  transition: transform 0.25s 0.25s, z-index 0s 0.5s, -webkit-transform 0.25s 0.25s;
  z-index: 5;
}
.envelope__check:checked ~ .envelope__letter .letter__content:nth-child(2),
.envelope__check:checked ~ .envelope__letter .letter__content:nth-child(3) {
  transition: -webkit-transform 0.25s 0.5s;
  transition: transform 0.25s 0.5s;
  transition: transform 0.25s 0.5s, -webkit-transform 0.25s 0.5s;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
.envelope__flap {
  /*Cierre sobre*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  transition: z-index 0s 0.5s, -webkit-transform 2.25s 0.5s;
  transition: transform 2.25s 0.5s, z-index 0s 0.5s;
  transition: transform 2.25s 0.5s, z-index 0s 0.5s, -webkit-transform 2.25s 0.5s;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  
  z-index: 4;
  -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}

.envelope__flap--inside {
  background: url("s2.png");
  background-size: cover;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.envelope__back {
  height: 100%;
  width: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: #FFF;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%, 37% 37%, 63% 37%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0%, 37% 37%, 63% 37%);
}
.envelope__back:after {
  height: 100%;
  width: 100%;
  background: url(s1.png);
  background-size: cover;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  /*-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0, 50% 50%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0, 50% 50%);*/
}
.envelope__letter {
  height: 90%;
  width: 90%;
  z-index: 1;
  position: absolute;
  left: 5%;
  top: 5%;
  transition: z-index 0s 0.25s, -webkit-transform 0.25s 0.25s;
  transition: transform 0.25s 0.25s, z-index 0s 0.25s;
  transition: transform 0.25s 0.25s, z-index 0s 0.25s, -webkit-transform 0.25s 0.25s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.letter__content {
  height: 100%;
  width: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  position: absolute;
  padding: 14px;
  text-align: justify;
}
.letter__content:nth-child(2),
.letter__content:nth-child(3) {
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  top: 100%;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  z-index: 2;
  border-top: 1px solid #eee;
}
.letter__content:nth-child(3) {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.sign-off {
  position: absolute;
  bottom: 12px;
  right: 12px;
  font-size: 20px;
  font-family: cursive;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}
